<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand blue" href="#">Blue Hunter</a>
        </div>
        <ul class="nav navbar-nav">
        <li [ngClass]="{'active' : activeClient}">
            <a class="blue" (click)="getActiveClient()">
                Cliente
            </a>
        </li>
        <li [ngClass]="{'active' : activeBook}">
            <a class="blue" (click)="getActiveBook()">                
                Livros
            </a>
        </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
